body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game {
  position: relative;
  margin: auto;
}

#game {
  cursor: url("img/cur_def.png") 30 35, auto;
}

#game.clicked {
  cursor: url("img/cur_click.png") 30 35, auto;
}

#mainImage {
  height: 90vh;
  display: block;
}
